* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.general-dashboard {
  font-family: "Rubik", sans-serif;
  font-size: 1.4rem;
  background: #f4f5f7;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 18% 82%;
  position: relative;
}
/************ SIGN-IN POPUP 2  */
/* body .signup-container2 { NOTE: Trying to create another login overlay to login into another account. because the transfer directive isn't displayin the amount in the receiver account due to page reload.
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;

  background-color: white;
  padding: 2rem 3rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  transition-duration: 600ms;
}
.signup-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 4rem 3rem;
}
.signup-form-wrapper {
  display: flex;
}
.signup-wrapper h2 {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.signup-wrapper h2 span {
  color: var(--secondarycolor);
  font-size: 3.2rem;
  font-weight: 700;
  background: url(/images/1000_F_566488866_7999PLng9MsgDwO46WDYhA9fqFU3Mnff.jpg)
    0 0 / cover no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.signup-wrapper > p {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 4rem;
}
.signup-wrapper .btn-close {
  position: absolute;
  display: block;
  top: 0.3rem;
  right: 1rem;
  font-size: 4rem;
  cursor: pointer;
  z-index: 50;
}
body .overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(0.3rem);
  z-index: 5;
  transition-duration: 600ms;
}
.signup-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  row-gap: 2rem;
}
.signup-form label {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: left;
  margin-bottom: 1.2rem;
}
.signup-form input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.4rem;
  font-family: inherit;
  color: inherit;
  background: #ffffff;
  border: 1px solid #d2d6d5;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  flex-grow: 1;
}
.signup-btn-submit {
  margin-top: 2.5rem;
}

/************ NAVIGATION  ***************/
.navigation {
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background: var(--background);
  color: #ffffff99;
  font-size: 1.4rem;
  font-weight: 400;
  top: 0;
  left: 0;
  overflow: hidden;
}
.img-div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.01rem solid #b8c9c980;
  margin-top: 1rem;
}
.img-div img {
  max-width: 12rem;
}
.home-div,
.transaction-div,
.profile-div,
.settings-div {
  border-bottom: 0.01rem solid #b8c9c980;
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.settings-div {
  border-bottom: none !important;
}
.icon-text {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: start;
  width: 96%;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.icon-text:hover {
  background: #ffffff13;
}
.active-nav {
  background: #ffffff26 !important;
  color: #ffffff;
}
.icon-text i {
  font-size: 2rem;
  width: 15%;
}
.div-heading {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  margin-left: 30%;
  font-size: 1.4rem;
  color: var(--primaryheadingcolor);
  font-style: var(--spacegrotesk);
  font-weight: 600;
  line-height: 2.4rem;
  letter-spacing: 0.04em;
  opacity: 0.5;
  margin-bottom: 1rem;
}
/*************************************************************************************
/************ HOME DISPLAYS  ***********************/
.displays {
  background: #f4f5f7;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  transition: all 1s;
}
.top-section {
  margin-top: 3.4rem;
  border-bottom: 0.1rem solid rgba(90, 92, 92, 0.2);
  color: var(--textparagraph);
}
.user-name {
  text-align: right;
  line-height: 1.3;

  font-size: 1.6rem;
  font-weight: 500;
}
.top-section .template-description {
  font-size: 1.6rem;
  font-weight: 500;
}
.balance-display {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 1.7rem;
  margin-top: 4.8rem;
  height: 8rem;
}
.balance-div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: right;
}
.balance-bottom-div {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}
.balance-label {
  font-size: 2.2rem;
  font-weight: 400;
}
.balance-value {
  font-size: 4.5rem;
  font-weight: 500;
}

.bottom-section {
  transition-duration: 500ms;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}
.verified {
  margin-top: 2.9rem;
  display: flex;
  width: 100%;
}
.verified-left {
  width: 70%;
}
.verified-left .template-heading {
  margin-bottom: 1rem;
}
.verified-left button {
  margin-top: 1.9rem;
}
.verified-right {
  width: 30%;
  display: flex;
  align-items: center;
  max-width: 19rem;
  max-height: 13rem;
  margin-left: auto;
}
.service-overview {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
}
.service-overview .template-heading {
  margin-bottom: 2.3rem;
}
.service-cards {
  display: flex;
  gap: 3.6rem;
  align-items: center;
  justify-content: space-between;
}
.service-card {
  padding: 3.4rem 3.2rem;
  text-align: left;
  width: 30rem;
  height: 100%;
}
.service-card i {
  text-decoration: none;
  transition-duration: 600ms;
  color: var(--primarycolordarker);
  background: #0000ff51;
  padding: 2rem;
  font-size: 4rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.template .template-heading {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.template .template-description {
  font-size: 1.6rem;
  font-weight: 400;
}

/***************************************************************************************/
/************ MY ACCOUNT DISPLAYS  ***********************/
.account-user-name {
  text-align: left;
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 4.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--textheadingdark);
  transition: all 1s;
}
.account-verified {
  margin-top: 0rem;
}
.verified2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.6rem;
  margin-top: 2.6rem;
}
.account-bottom-heading {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--textparagraph);
  margin-left: 2rem;
}
.account-desc {
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: var(--coloredheadingsmall);
}
.account-status-complete {
  background: #36a50e58;
  color: #36a50e;
  border: none;
  border-radius: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.2rem 2.4rem;
}
.account-grid-slot-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--coloredheadingsmall);
  min-height: 7rem;
}

/***************************************************************************************/
/************ TRANSFER DISPLAYS  ***********************/
.transfer-btns-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  margin-top: 2rem;
  width: 100%;
  overflow-y: hidden;
  max-height: 42.4rem;
}
.transfer-existing-users {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  margin-top: 3rem;
  max-height: 40rem;
  overflow-y: scroll;
}
.existing-username {
  margin-left: 2rem;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #000000;
}
.bank-name-duplicate,
.bank-number {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.2rem;
  color: #5a5c5c;
}

/***************************************************************************************/
/************ REQUEST LOAN DISPLAYS  ***********************/
.template-heading .fa-info {
  font-weight: 900;
  padding: 1rem;
  border: 3px solid var(--textparagraph);
  color: var(--textparagraph);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  text-align: center;
}
.verified-left.flex-align {
  gap: 2rem;
}
.request-loan-numberbubbles {
  display: flex;
  margin-top: 5rem;
  align-items: flex-start;
  width: 100%;
  gap: 7rem;
  justify-content: start;
  transition-duration: 600ms;
}
.numberbubble-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.request-loan-box-number {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  height: 4.7rem;
  width: 4.7rem;
  background: #0e27a558;
  color: var(--primarycolor);
  border-radius: 50%;
  margin-right: 1.5rem;
  font-size: 1.6rem;
  font-weight: 600;
}
.request-loan-box-description {
  font-size: 1.8rem;
  font: 700;
  color: var(--textparagraph);
}
.request-loan-span-link {
  cursor: pointer;
  display: inline-block;
  color: var(--primarycolor);
}
.slides-box {
  display: flex;
  align-items: center;
  margin-top: 5rem;
  width: 100%;
  border: 0.1rem solid #5a5c5c36;
  border-radius: 1rem;
  height: 50rem;
  overflow: hidden;
}
.slide-box-img-container {
  max-width: 50%;
}
.slide-box-img {
  width: 100%;
  height: auto;
}
.form-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
/***************************************************************************************/
/************ OVERVIEW DISPLAYS  ***********************/
.overview-btn {
  display: flex;
  margin-top: 2.2rem;
}
.sort {
  margin-left: 2%;
  background: none;
  color: var(--textparagraph);
  border: 0.1rem solid rgba(90, 92, 92, 0.2);
}
.overview-right {
  display: flex;
  align-items: end;
  gap: 2rem;
  margin-left: auto;
}
.overview-in,
.overview-out,
.overview-interest {
  font-size: 1.2rem;
  font-weight: 500;
  position: relative;
  color: var(--textparagraph);
}
.overview-in span {
  color: #36a50e;
}
.overview-out span {
  color: #a50e0e;
}
.overview-interest span {
  color: #a5a00e;
}
.overview-in::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.3rem;
  background-color: #36a50e;
  top: -1.5rem;
  left: 0;
}
.overview-out::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.3rem;
  background-color: #a50e0e;
  top: -1.5rem;
  left: 0;
}
.overview-interest::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.3rem;
  background-color: #a5a00e;
  top: -1.5rem;
  left: 0;
}
.overview-right span {
  font-size: 2.2rem;
  margin-left: 1rem;
}
/* MOVEMENTS */
.movements-row-top {
  margin-top: 3rem;
  background: #5a5c5c61;
  padding: 2rem;
  border-radius: 1rem 1rem 0 0;
}
.movements-row-top div {
  color: var(--textparagraph);
  font-size: 1.6rem;
  font-weight: 500;
}
.movements {
  background-color: #fff;
  border-radius: 0 0 1rem 1rem;
  height: 46rem;
  overflow-y: scroll;
}
.movements-row {
  padding: 3rem 2rem;
  border-bottom: 1px solid #eee;
}

.movements-type {
  font-size: 1.1rem;
  text-transform: uppercase;
  margin-left: 2rem;
  font-weight: 500;
  color: #fff;
}

.movements-date {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
}

.movements-type-deposit {
  background: #36a50e58;
  color: #36a50e;
}

.movements-type-withdrawal {
  background: #a50e0e58;
  color: #a50e0e;
}
.movements-type-transfer {
  background: #a5a00e58;
  color: #a5a00e;
}

.movements-value {
  font-size: 1.7rem;
}
/***************************************************************************************/
/************ MY BANK DETAILS DISPLAYS  ***********************/
.account-btns {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.2rem;
}
.account-btn-left .cta-btn2,
.account-btn-left .cta-btn {
  background: none;
  color: var(--textparagraph);
  border: 0.1rem solid rgba(90, 92, 92, 0.2);
}
.account-btn-left .cta-btn.active {
  background: #0e27a558;
  color: var(--primarycolor);
}

.grid-card.template {
  padding: 0;
}
.grid-card {
  display: flex;
  flex-direction: column;
  height: fit-content;
}
.grid-slot-1 {
  border-bottom: 0.1rem solid rgba(90, 92, 92, 0.2);
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
  color: var(--textparagraph);
  min-height: 5rem;
}
.grid-username {
  margin-left: 2rem;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.6rem;

  color: #000000;
}
.account-type {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.2rem;
  text-align: center;
  padding: 0.5rem 1.6rem;
  background: rgba(90, 92, 92, 0.1);
  border-radius: 1rem;
  color: #5a5c5c;
}
.account-flag {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-slot-1 .fa-trash-can {
  margin-left: auto;
  margin-right: 2rem;
  cursor: pointer;
  transition-duration: 500ms;
}
.grid-slot-1 .fa-trash-can:hover {
  color: var(--textheadingdark);
}
.grid-slot-2 {
  border-bottom: 0.1rem solid rgba(90, 92, 92, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  color: var(--textparagraph);
  min-height: 7rem;
}
.text-left {
  margin-left: 2rem;
  text-align: left;
  width: 25%;
}
.bank-name {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.2rem;
  color: #5a5c5c;
}
.bank-desc {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.2rem;

  color: #000000;
}
.text-right {
  margin-right: 2rem;
  text-align: right;
}
.grid-slot-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  color: var(--textparagraph);
  min-height: 7rem;
}
.grid-slot-3 .bank-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.9rem;
  color: #5a5c5c;
}
.text-right .cta-btn2 {
  background: none;
  color: var(--primarycolor);
  border: 0.1rem solid rgba(90, 92, 92, 0.2);
  font-size: 1.4rem;
}
/***************************************************************************************/
/************ UPDATE SIGN-UP DISPLAYS  ***********************/
.update-signup-container {
  margin-top: 5rem;
}
.update-signup-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.update-signup-wrapper h2 span {
  color: var(--secondarycolor);
  font-size: 3.2rem;
  font-weight: 700;
  background: url(/images/1000_F_566488866_7999PLng9MsgDwO46WDYhA9fqFU3Mnff.jpg)
    0 0 / cover no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.update-signup-wrapper > p {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 4rem;
}
.update-signup-form-wrapper {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  height: 36.6rem;
}
.update-existing-users-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 31.5rem;
  width: 50%;
  overflow-y: scroll;
  position: relative;
  top: 0;
  right: 0;
  margin-top: 3rem;
  height: 35.5rem;
}

/* CONGRATS POP-UP */
body .successful-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;

  background-color: white;
  padding: 2rem 3rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  transition-duration: 600ms;
}
.successful-popup .verified-left {
  width: 100%;
}
.template-desc-user {
  font-size: 1.8rem;
  font-weight: 700;
}
.successful-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 4rem 3rem;
}
body .successful-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(0.3rem);
  z-index: 5;
  transition-duration: 600ms;
}
