* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.4rem;
  background: #f4f5f7;
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 20% 80%;
}

/************ NAVIGATION  */
.navigation {
  /* position: sticky; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background: var(--background);
  color: #ffffff99;
  font-size: 1.6rem;
  font-weight: 400;
}
.img-div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.01rem solid #b8c9c980;
  margin-top: 1rem;
}
.img-div img {
  max-width: 12rem;
}
.home-div,
.transaction-div,
.profile-div,
.settings-div {
  border-bottom: 0.01rem solid #b8c9c980;
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.settings-div {
  border-bottom: none !important;
}
.icon-text {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 96%;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition-duration: 600ms;
}
.icon-text:hover {
  background: #ffffff26;
  color: #ffffff;
}
.icon-text.active {
  background: #ffffff26;
  color: #ffffff;
}
.icon-text ion-icon {
  font-size: 2.5rem;
  margin-right: 2rem;
}
.div-heading {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  margin-left: 30%;
  font-size: 1.4rem;
  color: var(--primaryheadingcolor);
  font-style: var(--spacegrotesk);
  font-weight: 600;
  line-height: 2.4rem;
  letter-spacing: 0.04em;
  opacity: 0.5;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

/************ DISPLAYS  */
.displays {
  background: #f4f5f7;
  display: flex;
  flex-direction: column;
}
.top-section {
  margin-top: 3.4rem;
  border-bottom: 0.1rem solid rgba(90, 92, 92, 0.2);
}
.user-name {
  text-align: right;
}
.top-section .template-description {
  font-size: 1.6rem;
  font-weight: 500;
}
.top-section .how-description {
  margin-bottom: 1.7rem;
  margin-top: 4.8rem;
}

/************** BOTTOM SECTION  ********************/
.bottom-section {
  transition-duration: 500ms;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}
.verified {
  margin-top: 2.9rem;
  display: flex;
  width: 100%;
}
.verified-left {
  width: 70%;
}
.verified-left .template-heading {
  margin-bottom: 1rem;
}
.verified-left button {
  margin-top: 1.9rem;
}
.verified-right {
  width: 30%;
  display: flex;
  align-items: center;
  max-width: 19rem;
  max-height: 13rem;
  margin-left: auto;
}
.service-overview {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
}
.service-overview .template-heading {
  margin-bottom: 2.3rem;
}
.service-cards {
  display: flex;
  gap: 3.6rem;
  align-items: center;
  justify-content: space-between;
}
.service-card {
  padding: 3.4rem 3.2rem;
  text-align: left;
}
.template ion-icon {
  text-decoration: none;
  transition-duration: 600ms;
  color: var(--primarycolordarker);
  background: #0000ff51;
  padding: 2rem;
  font-size: 4rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.template .template-heading {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.template .template-description {
  font-size: 1.6rem;
  font-weight: 400;
}
