@media (max-width: 425px) {
  .grid-card-container::-webkit-scrollbar {
    display: none;
  }
  .general-dashboard {
    font-size: 1.4rem;
    display: flex;
  }
  body .overlay {
    backdrop-filter: blur(0rem);
  }
  .navigation {
    position: fixed;
    width: 65%;
    height: 100vh;
    opacity: 0;
    right: 0;
    left: unset;
    transform: translateX(100%);
    overflow-y: scroll;
    transition-duration: 400ms;
  }
  .navigation::-webkit-scrollbar {
    display: none;
  }
  .open.navigation {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0%);
    z-index: 10;
  }
  .img-div a {
    text-decoration: none;
  }
  .img-div img {
    display: none;
  }
  .dashboard-btn-back {
    display: block !important;
  }
  .dashboard-btn-close {
    display: block;
  }
  .settings-div {
    margin-bottom: 2rem;
  }
  .cta-btn2.btn-close {
    width: 80%;
  }
  .displays {
    overflow-x: hidden;
    width: 100%;
    transition: all 1s;
  }
  .paddingLR {
    max-width: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .top-section-menu {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .btn-dashboard-nav {
    border: none;
    display: block;
  }
  .icon-dashboard-nav {
    height: fit-content;
    width: fit-content;
    font-size: 3rem;
    color: var(--textheadingdark);
  }
  .user-name {
    font-size: 1.4rem;
  }
  .dashboard-description {
    font-size: 2.4rem;
    width: 100%;
  }
  .balance-div {
    font-size: 1.2rem;
    width: 100%;
    display: flex;
    align-items: end;
  }

  .balance-display {
    flex-direction: column-reverse;
  }
  .balance-value {
    font-size: 3rem;
    max-width: 14.8rem;
    overflow-x: scroll;
  }
  .balance-value::-webkit-scrollbar {
    display: none;
  }

  /********* my home display ************/
  .home-bottom .verified-right {
    margin-bottom: 2rem;
  }
  .verified {
    flex-direction: column-reverse;
  }
  .verified-left {
    width: 100%;
    text-align: left;
  }
  .verified-right {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    margin-right: auto;
  }
  .template .template-heading {
    font-size: 2rem;
    text-align: left;
  }
  .verified-left button {
    width: 70%;
  }
  .service-overview .template-heading {
    text-align: left;
  }
  .service-cards {
    display: unset;
    position: relative;
    overflow: scroll;
    height: 30rem;
  }
  .service-cards::-webkit-scrollbar {
    display: none;
  }
  .service-cards-wrapper {
    display: block;
    position: relative;
    width: 94rem;
    height: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
  }
  .service-card {
    padding: 2rem;
    width: 30rem;
    height: 100%;
    position: relative;
    float: left;
    margin-right: 2rem;
  }
  .service-card:last-child {
    margin-right: 0;
  }
  .service-card i {
    padding: 1.5rem;
    font-size: 3rem;
  }
  .service-card .template-heading {
    font-size: 1.8rem;
  }
  .template .template-description {
    font-size: 1.4rem;
    text-align: justify;
  }
  .img-div {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    margin-top: 4rem;
  }
  .img-div,
  .home-div,
  .transaction-div,
  .profile-div,
  .settings-div {
    border-bottom: none;
  }

  /***************** my account display ******** */
  .account-bottom .verified-right {
    margin-bottom: 2rem;
  }
  .account-bottom-heading {
    margin: 1rem;
  }
  .account-user-name {
    font-size: 2rem;
  }
  .btns-display {
    grid-template-columns: 1fr;
  }
  .grid-card {
    width: 100%;
  }
  .grid-slot-3 {
    width: 100%;
  }
  .text-left {
    width: 50%;
  }
  .grid-slot-3 .bank-desc {
    line-height: 1.3rem;
  }
  .text-right {
    margin-right: 1rem;
    width: 50%;
  }
  .text-middle.hide {
    display: none;
  }
  .text-middle.unhide {
    display: block;
  }
  .account-grid-slot-2 {
    width: 100%;
  }
  .account-grid-slot-2 .text-left {
    width: 50%;
  }
  /***************** my account display ******** */
  .update-signup-form-wrapper {
    flex-direction: column;
    gap: 0;
    height: auto;
  }
  .update-signup-wrapper > p {
    font-size: 1.6rem;
  }
  .update-signup-container .grid-slot-1 {
    font-size: 1.4rem;
    min-height: 3rem;
  }

  /***************** transfer display ******** */
  .account-btns {
    flex-direction: column;
    gap: 1rem;
  }
  .account-btn-left {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 0.5rem;
  }
  .account-btn-left .cta-btn2,
  .account-btn-left .cta-btn {
    width: 50%;
  }
  .acct-btn-right {
    width: 100%;
  }
  .transfer-btns-display {
    display: flex;
    flex-direction: column;
    max-height: none;
  }
  .transfer-btns-display .form {
    width: 100%;
  }
  .transfer-existing-users {
    max-width: none;
    margin-top: 7rem;
    border-top: 0.5rem solid #0009;
  }
  .transfer-existing-users::-webkit-scrollbar {
    display: none;
  }
  .account-type {
    justify-content: none;
    width: 19rem;
    height: 3rem;
    overflow: hidden;
  }
  .grid-slot-1 {
    height: 5rem;
  }
  .make-transfer-bottom .existing-username {
    line-height: 1.1rem;
  }
  .make-transfer-bottom .account-type {
    line-height: 1rem;
    text-align: left;
  }
  .grid-slot-2 {
    min-height: 5rem;
  }
  .make-transfer-bottom .bank-desc {
    line-height: 1.2rem;
  }
  .make-transfer-bottom .text-right .cta-btn2 {
    width: 85%;
    font-size: 1.2rem;
  }
  /***************** request loan display ******** */
  .request-loan-bottom .verified {
    padding: 2rem;
    margin-top: 3rem;
  }
  .request-loan-bottom .numberbubbles {
    display: none;
  }
  .slides-box {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
    height: max-content;
  }
  .request-loan-bottom .verified-left {
    flex-direction: column;
    text-align: justify;
  }
  .slide-box-img-container {
    max-width: 100%;
  }
  /***************** overview display ******** */
  .select-sort-btns {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 4rem;
    width: 100%;
    justify-content: unset;
    align-items: center;
    align-items: flex-end;
  }
  .overview-right {
    align-items: center;
    justify-content: end;
    gap: 2rem;
    margin-left: unset;
    margin-top: 3rem;
  }
  .overview-in,
  .overview-out,
  .overview-interest {
    display: flex;
    text-align: end;
    flex-direction: column;
  }
  .overview-right span {
    font-size: 1.4rem;
  }
  .overview-bottom select {
    width: 100%;
  }
  .sort {
    margin-left: 0;
  }
  .overview-btn {
    flex-direction: column-reverse;
  }
  .movements-container {
    height: 40rem;
    margin-top: 1rem;
    border-radius: 1rem;
  }
  .movements-wrapper-scroll {
    width: 70rem;
    height: 100%;
  }
  .movements {
    height: 33rem;
  }
  .movements-reference-value {
    font-size: 1.2rem;
  }
  .movements-type-style {
    font-size: 1.2rem;
  }
  .movements-value {
    font-size: 1.4rem;
  }
  .movements-row-top div {
    font-size: 1.4rem;
  }
  .movements-row {
    padding: 2rem 2rem;
  }
  .movements-type {
    margin-left: 1rem;
  }
  /***************** bank details display ******** */
  .bank-details-bottom .btns-display {
    margin-top: 5rem;
  }
  .bank-details-bottom .grid-username {
    margin-left: 1rem;
    font-size: 1.4rem;
    line-height: 1.2rem;
  }
  .account-type {
    width: 14rem;
    height: 3rem;
    font-size: 1.4rem;
    line-height: 1.1rem;
    padding: 0.5rem 1.2rem;
    text-align: left;
  }
  /***************** help & support display ******** */
  /************* close account display **************/
  .close-account .template {
    padding: 1rem 1.7rem;
  }
  .close-account .template-heading {
    margin-bottom: 0;
  }
  .close-account .template-description {
    text-align: left;
  }
  .close-account .numberbubbles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;
    align-items: flex-start;
    width: 100%;
    gap: 1rem;
    justify-content: unset;
    padding-bottom: 3rem;
    border-bottom: 0.1rem solid rgba(90, 92, 92, 0.2);
  }
  .close-account .numberbubble-box {
    justify-content: unset;
  }
  .close-account .box-number {
    padding: 1.7rem;
    height: 1rem;
    width: 1rem;
    margin-right: 1rem;
    font-size: 1.4rem;
  }
  .close-account .box-description {
    font-size: 1.4rem;
    font-weight: 400;
  }
  .close-account .form-container {
    padding: 2rem;
    border: 0.1rem solid #0002;
    border-radius: 1rem;
  }
  .close-account .form {
    width: 100%;
  }

  /************* successful login display **************/
  body .successful-popup {
    width: 85%;
  }
  .successful-popup .template-heading {
    margin-bottom: 0;
  }
  .successful-popup .template-description {
    font-size: 1.4rem;
  }

  /************* Invalid Message display **************/
  body .invalid-message-popup {
    width: 85%;
    padding: 1rem 1rem;
  }
  .invalid-wrapper {
    padding: 1rem 1rem;
  }
  .invalid-message-popup .template-heading {
    margin-bottom: 0;
  }
  .invalid-message-popup .template-description {
    font-size: 1.4rem;
    line-height: 1.3;
  }
}
