:root {
  --primarycolor: #0e27a5;
  --primaryheadingcolor: #0000ff98;
  --background: #0c0b21;
  --primarycolordarker: #0a1c7a;
  --textheadingbig: #ffffff;
  --textparagraphsmall: #ffffff;
  --spacegrotesk: "Space Grotesk", sans-serif;
  --secondarycolor: #f95868;
  --textheadingdark: #333333;
  --textparagraph: #5a5c5c;
  --cardtemplate: #ffffff;
  --coloredheadingsmall: #08061a;
  --cardborderradius: 0.5rem;
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.4rem;
  background: #f4f5f7;
  width: 100vw;
  height: 100vh;
  position: relative;
}

header {
  display: flex;
  align-items: center;
  height: 8rem;
  background: var(--background);
  z-index: 6;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-container > a {
  display: inline-block;
  text-decoration: none;
}
.logo {
  height: 9rem;
  width: 100%;
}
.desktop-nav {
  display: flex;
  gap: 10rem;
}
.logo-close-btn {
  display: none;
}
.desktop-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
}
.desktop-nav-link {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.9rem;
}
.desktop-nav-link-text:link,
.desktop-nav-link-text:visited {
  text-decoration: none;
  padding: 0.6rem 0rem;
  display: block;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
/* .desktop-nav-link-text:link::after,
.desktop-nav-link-text:visited::after {
  content: "";
  width: 0%;
  height: 0.3rem;
  position: absolute;
  bottom: -0.2rem;
  left: 50%;
  transform: translateX(-50%);
  background: var(--secondarycolor);
  transition: width 500ms;
}

.desktop-nav-link-text:active::after,
.desktop-nav-link-text:hover::after {
  width: 100%;
} */

/*MOBILE NAV*/
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  font-size: 5rem;
  color: #ffffffa3;
}

/* MAIN BODY */
.section-hero {
  background: linear-gradient(to bottom, #010119, #0000006d),
    url(/images/micheile-henderson-SoT4-mZhyhE-unsplash.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  /* height: 95vh; */
}
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.hero-heading {
  font-size: 5.3rem;
  color: var(--textheadingbig);
  font-family: var(--spacegrotesk);
  line-height: 5.4rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 300;
  margin-bottom: 4.8rem;
  color: var(--textheadingbig);
}
.hero-description > span {
  color: var(--secondarycolor);
  font-size: 2.6rem;
  font-weight: 500;
  background: url(/images/1000_F_566488866_7999PLng9MsgDwO46WDYhA9fqFU3Mnff.jpg)
    0 0 / cover no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-cta-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
  gap: 0.5rem;
}
.hero-btn {
  display: flex;
  gap: 2rem;
}
.hero-arrow {
  margin-left: 0.2rem;
}
.hero-right {
  display: flex;
  justify-content: right;
}
.hero-right-wrapper {
  height: 50.8rem;
  width: 52.6rem;
  border-radius: 0.5rem;
  background: url(/images/business-team-meeting-png.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  /* background-attachment: fixed; */
  box-shadow: 0rem 0rem 0.3rem rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8rem);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 1rem;
  transition-duration: 500ms;
}
.hero-right-wrapper:hover {
  transform: translateX(-3rem) rotate(-2deg) scale(1);
}

/* HOW SECTION */
.how-wrapper {
  display: flex;
  /* align-items: center; */
  text-align: center;
  flex-direction: column;
}
.section-heading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--secondarycolor);
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.section-description {
  font-size: 3.6rem;
  line-height: 1.2;
  color: var(--textheadingdark);
}
.cards {
  display: flex;
  margin-top: 4.5rem;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0rem 0rem 3.2rem rgb(0 0 0 / 6%);
  text-align: left;
  width: 37rem;
  height: 40rem;
  padding: 2rem;
  border-radius: 1rem;
  transition-duration: 1s;
  overflow-x: hidden;
}
.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 13rem;
  margin-bottom: 3.9rem;
  overflow: hidden;
}
.card-img {
  width: 70%;
  height: 100%;
}
.card-heading {
  margin-bottom: 1.7rem;
}
.card-desc-span {
  font-weight: 500;
}
.cta-btn.card-btn {
  margin-right: 0rem;
  display: flex;
  align-self: flex-start;
  margin-top: 3rem;
}

/* OPERATIONS */
.operations {
  max-width: 100rem;
  margin: 12rem auto 0 auto;

  background-color: #fff;
}

.operations__tab-container {
  display: flex;
  justify-content: center;
}

.operations__tab {
  margin-right: 2.5rem;
  transform: translateY(-50%);
}

.operations__tab span {
  margin-right: 1rem;
  font-weight: 600;
  display: inline-block;
}

.operations__tab--1 {
  background-color: var(--color-secondary);
}

.operations__tab--1:hover {
  background-color: var(--color-secondary-darker);
}

.operations__tab--3 {
  background-color: var(--color-tertiary);
  margin: 0;
}

.operations__tab--3:hover {
  background-color: var(--color-tertiary-darker);
}

.operations__tab--active {
  transform: translateY(-66%);
}

.operations__content {
  display: none;

  /* JUST PRESENTATIONAL */
  font-size: 1.7rem;
  padding: 2.5rem 7rem 6.5rem 7rem;
}

.operations__content--active {
  display: grid;
  grid-template-columns: 7rem 1fr;
  column-gap: 3rem;
  row-gap: 0.5rem;
}

.operations__header {
  font-size: 2.25rem;
  font-weight: 500;
  align-self: center;
}

.operations__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

.operations__icon svg {
  height: 2.75rem;
  width: 2.75rem;
}

.operations__content p {
  grid-column: 2;
}

.operations__icon--1 {
  background-color: var(--color-secondary-opacity);
}
.operations__icon--2 {
  background-color: var(--color-primary-opacity);
}
.operations__icon--3 {
  background-color: var(--color-tertiary-opacity);
}
.operations__icon--1 svg {
  fill: var(--color-secondary-darker);
}
.operations__icon--2 svg {
  fill: var(--color-primary);
}
.operations__icon--3 svg {
  fill: var(--color-tertiary);
}

/* SLIDER */
.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;

  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;

  -ms-scroll-chaining: none;
  /* Prevents Metro from swiping to the next tab or app. */

  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  /* Forces a snap scroll behavior on your images. */

  -ms-scroll-snap-points-x: snapInterval(0%, 100%);
  /* Defines the y and x intervals to snap to when scrolling. */
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: #888;
  opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
  width: 65%;
  position: relative;
}

.testimonial::before {
  content: "\201C";
  position: absolute;
  top: -5.7rem;
  left: -9.8rem;
  line-height: 1;
  font-size: 20rem;
  font-family: inherit;
  color: var(--primarycolor);
  z-index: -1;
}

.testimonial__header {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.testimonial__text {
  font-size: 1.7rem;
  margin-bottom: 3.5rem;
  color: #666;
}

.testimonial__author {
  margin-left: 3rem;
  font-style: normal;

  display: grid;
  grid-template-columns: 6.5rem 1fr;
  column-gap: 2rem;
}

.testimonial__photo {
  grid-row: 1 / span 2;
  width: 6.5rem;
  border-radius: 50%;
}

.testimonial__name {
  font-size: 1.7rem;
  font-weight: 500;
  align-self: end;
  margin: 0;
}

.testimonial__location {
  font-size: 1.5rem;
}

/* FOOTER */
.footer {
  color: var(--textheadingbig);
  padding: 5rem 0 2rem 0rem;
  background: linear-gradient(to top right, #171746, #000000);
}
.footer-container {
  display: grid;
  column-gap: 6.4rem;
  grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 0.01rem solid #ffffff66;
}
.logo-col {
  display: flex;
  flex-direction: column;
}
.footer-logo {
  display: block;
  margin-bottom: 0.5rem;
  width: fit-content;
}
.footer-logo-img {
  max-width: 100%;
  max-height: 11rem;
}
.footer-link:link,
.footer-link:visited {
  display: inline-block;
  text-decoration: none;
  transition-duration: 600ms;
  color: #ffffff66;
  padding: 1rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 0.1rem solid #ffffff66;
}
.footer-link:hover,
.footer-link:active {
  color: #fff;
  border: 0.1rem solid #fff;
}
.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}
.social-link {
  height: 2.5rem;
  width: 2.5rem;
}
/* .social-link1 {
  color: purple;
}
.social-link2 {
  color: #1f3f77;
}
.social-link3 {
  color: blue;
} */
.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #ffffff66;
  margin-top: auto;
}
.address-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
  color: #d2d2d2;
}
.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}
.address {
  margin-bottom: 2.4rem;
  color: #767676;
}
.address-link:link,
.address-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.footer-nav-link:link,
.footer-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition-duration: 600ms;
}
.account-col,
.company-col,
.address-col {
  margin-top: 2rem;
}
.footer-info {
  margin-top: 2rem;
  color: #767676;
}
.footer-span:link,
.footer-span:visited {
  display: inline-block;
  color: #767676;
  transition-duration: 600ms;
  text-decoration: none;
}
.footer-span:hover,
.footer-span:active {
  color: #d2d2d2;
}
.footer-span-icon {
  color: rgba(255, 0, 0, 0.47);
}

/************ SIGN-IN POPUP  */
body .signup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: white;
  padding: 2rem 3rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 6;
}
.signup-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 4rem 3rem;
}
/* .signup-form-wrapper {
  display: flex;
  gap: 2rem;
} */
.signup-wrapper h2 {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.signup-wrapper h2 span {
  color: var(--secondarycolor);
  font-size: 3.2rem;
  font-weight: 700;
  background: url(/images/1000_F_566488866_7999PLng9MsgDwO46WDYhA9fqFU3Mnff.jpg)
    0 0 / cover no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.signup-wrapper > p {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 4rem;
}
.select-account {
  font-size: 2rem;
  display: inline-block;
  padding: 0.5rem;
  background: #0e27a558;
  color: var(--primarycolor);
  border-radius: var(--cardborderradius);
  cursor: pointer;
  position: relative;
}
.signup-wrapper .btn-close {
  position: absolute;
  display: block;
  top: 0.3rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  z-index: 50;
}
body .overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(0.3rem);
  z-index: 5;
  transition-duration: 600ms;
}

body .invalid-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(0.5rem);
  z-index: 7;
  transition-duration: 600ms;
}
.signup-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  row-gap: 2rem;
  width: 50%;
}
.signup-form label {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: left;
  margin-bottom: 1.2rem;
}
.signup-form input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.4rem;
  font-family: inherit;
  color: inherit;
  background: #ffffff;
  border: 0.1rem solid #d2d6d5;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.2rem rgb(0 0 0 / 10%);
  flex-grow: 1;
}
.signup-btn-submit {
  margin-top: 2.5rem;
}
.existing-users-wrapper {
  position: absolute;
  top: 16rem;
  right: 3rem;
}
.grid-card-container {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 32rem;
}
/* .existing-users-container {
  width: 50%;
} */
.grid-card.template.existing-user {
  border: 1px solid #d2d6d5;
}
.grid-card-desc {
  display: block;
  opacity: 0;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.signup-img-div {
  display: none;
}
