html {
  font-size: 62.5%;
}

@media (min-width: 1259px) {
  body .signup-container {
    width: 80%;
  }
  .existing-users-wrapper {
    min-width: 45%;
  }
}

@media (max-width: 1258px) {
  body .signup-container {
    width: 70%;
  }
  .existing-users-wrapper {
    width: 45%;
  }
}
@media (max-width: 1054px) {
  .page-width {
    max-width: 87rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
  .card {
    height: 43rem;
    width: 30rem;
    padding: 1rem;
  }
  body .signup-container {
    width: 80%;
  }
  .existing-users-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 34.5rem;
    width: 45%;
    overflow-y: scroll;
    position: absolute;
    top: 15rem;
    right: 1rem;
    margin-top: 0rem;
  }
  .grid-slot-1 {
    gap: 1rem;
    font-size: 1.6rem;
    min-height: 3rem;
  }
  .existing-username {
    margin-left: 1rem;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}

@media (max-width: 935px) {
  .page-width {
    max-width: 77rem;
  }
  .section-hero {
    background-attachment: inherit;
  }
  .hero {
    gap: 0rem;
  }
  .hero-heading {
    font-size: 4.4rem;
    line-height: 4.4rem;
    margin-bottom: 2.6rem;
  }
  .hero-description {
    font-size: 1.8rem;
    margin-bottom: 2.8rem;
  }
  .margin-left {
    margin-left: 3rem;
  }
  .how-description {
    font-size: 3rem;
  }
  .template-heading {
    font-size: 1.8rem;
  }
  .template-description {
    font-size: 1.8rem;
    line-height: 1.2;
  }
  .card {
    height: 40rem;
  }
  .card-img {
    width: 85%;
  }
  .cta-btn,
  .cta-btn2 {
    font-size: 1.4rem;
  }
  .footer-link:link,
  .footer-link:visited {
    padding: 1rem;
    width: 4rem;
    height: 4rem;
  }
  .social-link {
    height: 2rem;
    width: 2rem;
  }
  .footer-container {
    column-gap: 3.4rem;
  }
  body .signup-container {
    width: 90%;
  }
  .existing-users-wrapper {
    margin-top: 0rem;
  }
}

@media (max-width: 816px) {
  .page-width {
    max-width: 70rem;
  }
  body header {
    position: sticky;
    top: 0;
  }

  /*MOBILE NAVIGATION*/
  .margin-left {
    margin-left: 0rem;
  }
  .btn-mobile-nav {
    display: block;
  }

  .desktop-nav {
    position: fixed;
    background: var(--background);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: initial;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 4rem;
    align-items: flex-start;
    flex-direction: column;
    transform: translateX(100%);
    transition-duration: 400ms;
    opacity: 0;
    visibility: hidden;
  }
  .logo-close-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
    width: 50%;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .nav-btn-close {
    font-size: 5rem;
    color: #fff;
    cursor: pointer;
    font-weight: 100;
  }
  .nav-open .desktop-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    width: 100%;
    transform: translateX(45%);
  }
  .desktop-nav-list {
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    margin-left: 2rem;
  }
  .desktop-nav-link {
    font-size: 1.6rem;
  }

  .desktop-nav .cta-btn {
    font-size: 2rem;
    margin-left: 2rem;
  }

  .desktop-nav-link:link,
  .desktop-nav-link:visited {
    font-size: 3rem;
  }
  .cards {
    flex-direction: column;
    gap: 5rem;
  }
  .card {
    text-align: justify;
    background: none;
    padding: 2rem;
    width: 65%;
    height: 100%;
  }
  .icon-wrapper {
    overflow: unset;
  }
  .card-img {
    width: 55%;
    height: auto;
  }
  .section-heading {
    text-align: center;
  }
  .section-description {
    text-align: center;
  }
  .btn {
    padding: 2rem 2rem;
  }
  .footer-container {
    column-gap: 0.4rem;
  }
  .copyright {
    font-size: 1.2rem;
  }
  .address-heading {
    font-size: 1.4rem;
  }
  .footer-nav-link:link,
  .footer-nav-link:visited {
    font-size: 1.4rem;
  }
  .address-link:link,
  .address-link:visited {
    font-size: 1.4rem;
  }
  body .signup-container {
    padding: 2rem 1rem;
  }
  .existing-users-wrapper {
    right: 2rem;
  }
}

@media (max-width: 652px) {
  .icon-mobile-nav {
    font-size: 4rem;
  }
  .section {
    padding: 10rem 2rem;
  }
  .section-hero {
    background: linear-gradient(to bottom, #010119, #0000006d),
      url(/images/freestocks-2MFgs3uK7mo-unsplash.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: inherit;
  }
  .hero {
    grid-template-columns: 60% 40%;
  }
  .card {
    height: 100%;
  }
  .card-img {
    width: 60%;
  }
  .template-heading {
    text-align: center;
  }
  .btn {
    padding: 1rem 1rem;
    font-size: 1.4rem;
  }
  .operations__content--active {
    grid-template-columns: 0rem 1fr;
  }
  .operations__content {
    font-size: 1.4rem;
    padding: 2rem 2rem 2rem 2rem;
  }
  .testimonial {
    width: 77%;
  }
  .footer-container {
    grid-template-columns: 1.5fr;
  }
  .account-col,
  .company-col,
  .address-col {
    margin-top: 4rem;
  }
  .address-heading {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }
  .footer-nav {
    gap: 1.4rem;
  }
  .copyright {
    margin-top: 2rem;
    font-size: 1.2rem;
  }
  .address {
    margin-bottom: 1.4rem;
  }
  body .signup-container {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
  }
  .signup-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .signup-form {
    width: 100%;
    border-radius: 0.5rem;
  }
  .existing-users-wrapper {
    right: 0rem;
    top: 0rem;
    max-height: 100%;
    width: 100%;
    position: relative;
    overflow-y: scroll;
    margin-top: 5rem;
    padding: 1rem;
    background: #0e27a517;
    border-top: none;
    border-radius: 1rem 1rem;
  }
  .signup-wrapper h2 {
    margin-top: 5rem;
  }
  .signup-wrapper .btn-close {
    top: 2rem;
    right: -4rem;
    padding: 0.5rem 4rem 0.5rem 0.9rem;
    border-radius: 2rem 0 0 2rem;
    box-shadow: 0 0.1rem 0.3rem rgb(0 0 0 / 70%);
  }
  .signup-wrapper > p {
    font-size: 1.6rem;
    font-weight: 400;
  }
  .grid-card-desc {
    opacity: 1;
    font-size: 1.8rem;
  }
  .select-account {
    font-size: 1.6rem;
  }
  .signup-img-div {
    display: block;
  }
}
@media (max-width: 535px) {
  .page-width {
    max-width: 47rem;
  }
  header {
    height: 5.5rem;
  }
  .logo {
    height: 5rem;
  }
  .icon-mobile-nav {
    height: fit-content;
    width: fit-content;
    font-size: 3rem;
  }
  .icon-wrapper {
    width: 100%;
    margin-bottom: 2rem;
  }
  .desktop-nav {
    gap: 5rem;
  }
  .desktop-nav-list {
    gap: 3rem;
  }
  .desktop-nav-link {
    font-size: 2rem;
  }
  .desktop-nav .cta-btn {
    font-size: 2rem;
    margin-left: 2rem;
  }
  .desktop-nav-list {
    align-items: flex-start;
    margin-left: 2rem;
  }
  .section-hero {
    background: linear-gradient(to bottom, #010119, #0000006d),
      url(/images/samantha-gades-BlIhVfXbi9s-unsplash.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  .hero {
    grid-template-columns: 100%;
  }
  .hero-heading {
    text-align: center;
  }
  .hero-description {
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.4;
  }
  .hero-description > span {
    color: none;
    font-size: 1.9rem;
  }
  .hero-btn {
    gap: 0.7rem;
    justify-content: center;
  }
  .card {
    width: 75%;
    height: 100%;
  }
  .card-img {
    width: 60%;
  }
  .template-heading {
    text-align: center;
  }
  .cta-btn.card-btn {
    margin-top: 2rem;
  }
  .operations__tab {
    margin-right: 1.5rem;
  }
  .btn {
    padding: 1rem 1rem;
  }
  .operations__tab span {
    display: none;
  }
  .operations__header {
    font-size: 1.8rem;
  }
  .testimonial__header {
    font-size: 1.8rem;
  }
  .testimonial__text {
    font-size: 1.4rem;
  }
  .slider__btn {
    top: 85%;
    z-index: 2;
    height: 4.5rem;
    width: 4.5rem;
    font-size: 3rem;
  }
  .dots {
    bottom: 15%;
  }
}

@media (max-width: 506px) {
  .logo-close-btn {
    width: 48%;
  }
  .card {
    width: 90%;
    height: 100%;
  }
  .card-img {
    width: 55%;
  }
  .signup-wrapper {
    padding: 1rem 1rem;
  }
  .signup-wrapper h2 {
    font-size: 2.2rem;
  }
  .signup-wrapper h2 span {
    font-size: 2.2rem;
  }
  .signup-wrapper > p {
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }
  .signup-form label {
    font-size: 1.4rem;
  }
  .signup-form input {
    padding: 2rem;
    font-size: 1.4rem;
  }
  .cta-btn.signup-btn-submit {
    font-size: 1.8rem;
  }
  .grid-card-desc {
    font-size: 1.6rem;
  }
  .grid-slot-1 {
    font-size: 1.2rem;
    min-height: 2.5rem;
    justify-content: flex-start;
  }
  .existing-username {
    margin-left: 0rem;
    font-size: 1.2rem;
    line-height: 0.6rem;
    margin-left: 1rem;
  }
  .grid-slot-2 {
    font-size: 1.2rem;
    min-height: 2rem;
  }
  .text-left {
    margin-left: 1rem;
  }
  .bank-desc {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .bank-name-duplicate,
  .bank-number {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

@media (max-width: 425px) {
  .section-how {
    padding-top: 8rem;
  }
  .section__title {
    max-width: 100%;
  }
  .section-description {
    font-size: 2.6rem;
  }
  .operations {
    margin: 9rem auto 0 auto;
  }
  .testimonial::before {
    top: -5.5rem;
    left: 0%;
    font-size: 15rem;
  }
  .testimonial {
    width: 95%;
  }
  .slide {
    height: 45rem;
  }
  .slider__btn--left {
    left: 25%;
  }
  .slider__btn--right {
    right: 25%;
  }
  body .spinner-container {
    width: 75%;
    height: 35%;
  }
}

@media (max-width: 400px) {
  .desktop-nav {
    gap: 3rem;
  }
  .desktop-nav-list {
    margin-top: 0rem;
  }
  .desktop-nav .cta-btn {
    font-size: 1.6rem;
  }
  body .signup-container {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .signup-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .existing-users-wrapper {
    right: 0rem;
    top: 0rem;
    max-height: 100%;
    width: 100%;
    position: relative;
    overflow-y: scroll;
    margin-top: 3rem;
  }
  .signup-wrapper .btn-close {
    font-size: 1.4rem;
  }
  .signup-wrapper > p {
    font-size: 1.4rem;
    font-weight: 400;
  }
  .select-account {
    font-size: 1.4rem;
  }
  .section-hero {
    background: linear-gradient(to bottom, #010119, #0000006d),
      url(/images/eren-yildiz-o-GdYSJGg-4-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  .hero-description {
    font-size: 1.2rem;
  }
  .cta-btn,
  .cta-btn2 {
    font-size: 1.2rem;
  }
  .how-heading {
    font-size: 1rem;
    font-weight: 700;
  }
  .how-description {
    font-size: 2rem;
    font-weight: 700;
  }
  .card-img {
    width: 60%;
  }
  .template-heading {
    font-size: 1.4rem;
  }
  .template-description {
    font-size: 1.4rem;
    line-height: 1.6;
  }
  .address-heading {
    font-size: 1.2rem;
    font-weight: 700;
  }
  .footer-container {
    padding-top: 0rem;
    padding-bottom: 2rem;
  }
  .footer-nav {
    gap: 1.2rem;
  }
  .footer-nav-link:link,
  .footer-nav-link:visited {
    font-size: 1.2rem;
  }
  .card {
    width: 100%;
    height: 100%;
  }
  .contacts {
    font-size: 1.2rem;
  }
  .address-link:link,
  .address-link:visited {
    font-size: 1.2rem;
  }
}
