*:focus {
  outline: none;
  outline-offset: 0.5rem solid #223fe6;
  box-shadow: 0 0 0 0.6rem rgba(44, 34, 230, 0.611);
}

.container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.page-width {
  max-width: 128rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-left: auto;
  margin-right: auto;
}
.font-grotesk {
  font-family: "Space Grotesk", sans-serif;
}
.margin-left {
  margin-left: 6rem;
}
.template-heading {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--textheadingdark);
}
.template-description {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3;
  color: var(--textparagraph);
}
.cta-btn,
.cta-btn2 {
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.2rem 2.4rem;
  background: var(--primarycolor);
  color: var(--textparagraphsmall);
  border-radius: var(--cardborderradius);
  transition-duration: 500ms;
  cursor: pointer;
}
.cta-btn2 {
  margin-left: 1rem;
}
.cta-btn2 {
  background: #ffffff00;
  border: 0.05rem solid#ffffff1e;
}
.cta-btn2:hover {
  background: #ffffff1e;
}
.cta-btn:hover,
.cta-btn:active {
  background: var(--primarycolordarker);
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.paddingLR {
  margin-left: 5rem;
  margin-right: 5rem;
}
.template {
  background: var(--cardtemplate);
  border-radius: var(--cardborderradius);
  padding: 2rem 3rem;
}
.disabled {
  display: none !important;
}
/* width */
::-webkit-scrollbar {
  width: 0.7rem;
}
::-webkit-scrollbar:hover {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5rem grey;
  border-radius: 0rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 13, 255);
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
